<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <div v-if="isShow">
    <span>用户邮箱：</span><input type="text" placeholder="请输入用户邮箱">
  </div>

  <div v-if="!isShow">
    <span>用户qq：</span><input type="text" placeholder="请输入用户qq">
  </div>
  <button @click="btnclick">切换类型</button>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
      el: '#app',
      data: {
        message: '你好啊',
        isShow:true
      },
      methods:{
        btnclick(){
          this.isShow=!this.isShow
        }
      }
    })
</script>
</body>
</html>